// Place all the styles related to the blog_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-centered {
  float: none;
  margin: 0 auto;
}

.entry-img {
  max-width: 800px;
}

h1 {
  text-align: center;
}

.content-box {
  box-shadow: 3px 3px 14px 0px rgba(163,163,163,1);
}

/* Typography */

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #d2d2d2;
}

p {
  font-family: 'Archivo Narrow', serif;
  text-align: justify;
}